body {
    background-color: black;
}

div {
    text-align: center;
}

img {
    width: 75%;
    border: 5px solid white;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}
* {
    color: white;
}